/* reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* center menu */
.menu-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* menu box สำคัญ*/
.menu {
    position: relative;
}

/* button ตกเเต่ง*/
.menu-button {
    background-color: #8b0000;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}

/* dropdown list สำคัญ ตกเเต่ง */
.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* list items กล่องของเเต่ละชิ้น  ตกเเต่ง */
.menu-list li {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

/* hover effect ตอนที่เม้าชี้ drowdown ตกเเต่ง */
.menu-list li:hover {
    background-color: #f5f5f5;
}

/* show menu on hover สำคัญ  เป็นblock กินพื้นที่*/
.menu:hover .menu-list {
    display: block;
}