body {
  margin: 0;
  height: 100vh;
  user-select: none; /*เอาเส้น text cursor ออก*/

  display: flex;
  justify-content: center;
  align-items: center;
}

#balloon {
  width: 200px;
  height: 200px;
  background-color: red;

  border-radius: 50%;
  cursor: pointer;
}
