html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* table เต็มจอ */
table {
    width: 100vw;
    height: 100vh;
    border-collapse: collapse;
}

/* cell */
td {
    border: 1px solid black;
    padding: 20px;
    font-size: 2vw;
}

/* สี */
.left {
    background-color: #c8cc8a;
}

.right {
    background-color: #f7c6ad;
}